{% extends "layouts/base.html" %}

{% block title %}
پیش نمایش فاکتور
{% endblock %}


{% block extra_head %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/invoice.css') }}">

{% endblock %}


{% block content %}
 
<div class="invoice-wrapper">

   {% include "partials/invoice_body.html" %}

</div>


<div class="buttons">

    <button type="button" onclick="window.history.back()">
        ویرایش
    </button>


    <form action="{{ url_for('invoice.save_invoice_only') }}" method="post">

        <button type="submit">
            ثبت نهایی
        </button>

    </form>

</div>


{% endblock %}